In [1]:
import pandas as pd
import datetime as dt

In [2]:
dataset=pd.read_csv("Pump panel.csv")

In [3]:
dataset

          Date  Pump panel Consumption
0   2024-01-01                    6.13
1   2024-01-02                    8.22
2   2024-01-03                   11.17
3   2024-01-04                   12.40
4   2024-01-05                   12.31
5   2024-01-06                   12.70
6   2024-01-07                    7.18
7   2024-01-08                    9.89
8   2024-01-09                   12.15
9   2024-01-10                   12.67
10  2024-01-11                   10.74
11  2024-01-12                   11.66
12  2024-01-13                   12.23
13  2024-01-14                    6.68
14  2024-01-15                    6.28
15  2024-01-16                    6.01
16  2024-01-17                    9.00
17  2024-01-18                   11.09
18  2024-01-19                   11.77
19  2024-01-20                   11.19
20  2024-01-21                    5.98
21  2024-01-22                    9.37
22  2024-01-23                    9.85
23  2024-01-24                   11.09
24  2024-01-25                   11.36
25  2024-01-26                    6.95
26  2024-01-27                    4.70
27  2024-01-28                    5.31
28  2024-01-29                    8.54
29  2024-01-30                    9.54
30  2024-01-31                   10.45
31  2024-02-01                    7.77
32  2024-02-02                   10.46
33  2024-02-03                    9.74
34  2024-02-04                    5.10
35  2024-02-05                    9.07
36  2024-02-06                   10.51
37  2024-02-07                    7.91
38  2024-02-08                    9.82
39  2024-02-09                   10.38
40  2024-02-10                   10.60
41  2024-02-11                    4.00
42  2024-02-12                    7.38

In [4]:
dataset.columns

Index(['Date', 'Pump panel Consumption'], dtype='object')

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    43 non-null     object
 1   Pump panel Consumption  43 non-null     float64
dtypes: float64(1), object(1)
memory usage: 820.0+ bytes

In [6]:
dataset['Date']=pd.to_datetime(dataset['Date'])

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    43 non-null     datetime64[ns]
 1   Pump panel Consumption  43 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 820.0 bytes

In [8]:
startdate="2024-02-03"
enddate="2024-02-12"
df=dataset[dataset['Date'].between(startdate,enddate)][['Date', 'Pump panel Consumption']]

In [9]:
df

         Date  Pump panel Consumption
33 2024-02-03                    9.74
34 2024-02-04                    5.10
35 2024-02-05                    9.07
36 2024-02-06                   10.51
37 2024-02-07                    7.91
38 2024-02-08                    9.82
39 2024-02-09                   10.38
40 2024-02-10                   10.60
41 2024-02-11                    4.00
42 2024-02-12                    7.38

In [10]:
column='Pump panel Consumption'

In [11]:
from sklearn.preprocessing import MinMaxScaler
Ms=MinMaxScaler()
data1=Ms.fit_transform(df[[column]])
print("Len:",data1.shape)

Len: (10, 1)

In [12]:
len(data1)

10

In [13]:
training_size=round(len(data1)*0.80)
print(training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

8
X_train length: (8, 1)
X_test length: (2, 1)
y_train length: (8, 1)
y_test length: (2, 1)

In [14]:
import warnings
warnings.filterwarnings("ignore")

In [15]:
#pip install statsmodels

In [16]:
from sklearn.metrics import mean_squared_error
trends=['n','t','c','ct']
orders=[(0,0,1),(0,0,2),(0,0,3)]
from statsmodels.tsa.arima.model import ARIMA
for td in trends:
        
        #print(td)
        #trendslist.append(td)
    model = ARIMA(X_train, order=(0,0,10),trend=td,)
    model_fit = model.fit()
        # make prediction
    y_pred= model_fit.predict(len(X_train), len(data1)-1)
        #print(y_pred)
    from sklearn.metrics import r2_score
    mse=mean_squared_error(y_test,y_pred,squared=False)
    from stockFunctions import rmsemape
    print("Trend={}".format(td))
    rmsemape(y_test,y_pred)
    print("************")

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=n
RMSE-Testset: 0.5416090664853309
maPe-Testset: 1563841078009299.5
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=t
RMSE-Testset: 0.9911248093221273
maPe-Testset: 2405975804171098.0
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=c
RMSE-Testset: 0.4548234632580748
maPe-Testset: 1355883196422369.0
************
Trend=ct
RMSE-Testset: 0.8370568277543747
maPe-Testset: 2363063042578459.0
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [17]:
len(y_test)

2

In [18]:
#i=1
td="c"
model = ARIMA(X_train, order=(0,0,30),trend=td)
model_fit = model.fit()
# make prediction
y_pred= model_fit.predict(len(X_train), len(data1)-1)
#print(y_pred)
from sklearn.metrics import r2_score
mse=mean_squared_error(y_test,y_pred,squared=False)
from stockFunctions import rmsemape
print("Trend={}".format(td))
rmsemape(y_test,y_pred)
print("************")

Trend=c
RMSE-Testset: 0.3845858180150435
maPe-Testset: 1187483542999996.5
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [19]:
#pip install Pillow

In [20]:
#from stockFunctions import graph
#graph(y_test,y_pred,"Actual","predicted","Quality data","Time","Char A")

In [21]:
len(data1)

10

In [22]:
y_test

array([[0.        ],
       [0.51212121]])

In [23]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])

In [24]:
aTestNormTable

  Pump panel Consumption
0                    0.0
1               0.512121

In [25]:
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)

In [26]:
actual_stock_price_test_ori

array([[4.  ],
       [7.38]])

In [27]:
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [28]:
actual_stock_price_test_oriA

  Pump panel Consumption
0                    4.0
1                   7.38

In [29]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [30]:
from stockFunctions import conversionSingle
pTestNormTable=conversionSingle(y_pred,[column])
predicted_stock_price_test_ori=Ms.inverse_transform(pTestNormTable)
predicted_stock_price_test_oriP=conversionSingle(predicted_stock_price_test_ori,[column])

In [31]:
#from stockFunctions import graph
#graph(actual_stock_price_test_oriA,predicted_stock_price_test_oriP,"Actual","Predicted","Quality data","Time","Char A")

In [32]:
from stockFunctions import rmsemape
rmsemape(actual_stock_price_test_oriA,predicted_stock_price_test_oriP)

RMSE-Testset: 2.5382663988992875
maPe-Testset: 0.4945794110867937

In [33]:
forecast=model_fit.predict(len(data1), len(data1)+10)

In [34]:
forecast

array([0.93698626, 0.36121323, 0.66027164, 0.89946178, 0.75437092,
       0.81456917, 0.79022915, 0.94678557, 0.669898  , 0.63145715,
       0.83789866])

In [35]:
from stockFunctions import conversionSingle
fTestNormTable=conversionSingle(forecast,["Pump panel consumption"])
forecast_stock_price_test_ori=Ms.inverse_transform(fTestNormTable)
forecast_stock_price_test_oriF=conversionSingle(forecast_stock_price_test_ori,["Pump panel consfore"])

In [36]:
forecast_stock_price_test_oriF

   Pump panel consfore
0            10.184109
1             6.384007
2             8.357793
3             9.936448
4             8.978848
5             9.376156
6             9.215512
7            10.248785
8             8.421327
9             8.167617
10            9.530131