In [4]:
import pandas as pd
import datetime as dt

In [5]:
dataset=pd.read_csv("Pump panel.csv")

In [6]:
dataset

          Date  Pump panel Consumption
0   2024-01-01                    6.13
1   2024-01-02                    8.22
2   2024-01-03                   11.17
3   2024-01-04                   12.40
4   2024-01-05                   12.31
5   2024-01-06                   12.70
6   2024-01-07                    7.18
7   2024-01-08                    9.89
8   2024-01-09                   12.15
9   2024-01-10                   12.67
10  2024-01-11                   10.74
11  2024-01-12                   11.66
12  2024-01-13                   12.23
13  2024-01-14                    6.68
14  2024-01-15                    6.28
15  2024-01-16                    6.01
16  2024-01-17                    9.00
17  2024-01-18                   11.09
18  2024-01-19                   11.77
19  2024-01-20                   11.19
20  2024-01-21                    5.98
21  2024-01-22                    9.37
22  2024-01-23                    9.85
23  2024-01-24                   11.09
24  2024-01-25                   11.36
25  2024-01-26                    6.95
26  2024-01-27                    4.70
27  2024-01-28                    5.31
28  2024-01-29                    8.54
29  2024-01-30                    9.54
30  2024-01-31                   10.45
31  2024-02-01                    7.77
32  2024-02-02                   10.46
33  2024-02-03                    9.74
34  2024-02-04                    5.10
35  2024-02-05                    9.07
36  2024-02-06                   10.51
37  2024-02-07                    7.91
38  2024-02-08                    9.82
39  2024-02-09                   10.38
40  2024-02-10                   10.60
41  2024-02-11                    4.00
42  2024-02-12                    7.38

In [7]:
dataset.columns

Index(['Date', 'Pump panel Consumption'], dtype='object')

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    43 non-null     object
 1   Pump panel Consumption  43 non-null     float64
dtypes: float64(1), object(1)
memory usage: 820.0+ bytes

In [9]:
dataset['Date']=pd.to_datetime(dataset['Date'])

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    43 non-null     datetime64[ns]
 1   Pump panel Consumption  43 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 820.0 bytes

In [11]:
startdate="2024-01-01"
enddate="2024-02-12"
df=dataset[dataset['Date'].between(startdate,enddate)][['Date', 'Pump panel Consumption']]

In [12]:
df

         Date  Pump panel Consumption
0  2024-01-01                    6.13
1  2024-01-02                    8.22
2  2024-01-03                   11.17
3  2024-01-04                   12.40
4  2024-01-05                   12.31
5  2024-01-06                   12.70
6  2024-01-07                    7.18
7  2024-01-08                    9.89
8  2024-01-09                   12.15
9  2024-01-10                   12.67
10 2024-01-11                   10.74
11 2024-01-12                   11.66
12 2024-01-13                   12.23
13 2024-01-14                    6.68
14 2024-01-15                    6.28
15 2024-01-16                    6.01
16 2024-01-17                    9.00
17 2024-01-18                   11.09
18 2024-01-19                   11.77
19 2024-01-20                   11.19
20 2024-01-21                    5.98
21 2024-01-22                    9.37
22 2024-01-23                    9.85
23 2024-01-24                   11.09
24 2024-01-25                   11.36
25 2024-01-26                    6.95
26 2024-01-27                    4.70
27 2024-01-28                    5.31
28 2024-01-29                    8.54
29 2024-01-30                    9.54
30 2024-01-31                   10.45
31 2024-02-01                    7.77
32 2024-02-02                   10.46
33 2024-02-03                    9.74
34 2024-02-04                    5.10
35 2024-02-05                    9.07
36 2024-02-06                   10.51
37 2024-02-07                    7.91
38 2024-02-08                    9.82
39 2024-02-09                   10.38
40 2024-02-10                   10.60
41 2024-02-11                    4.00
42 2024-02-12                    7.38

In [13]:
column='Pump panel Consumption'

In [14]:
from sklearn.preprocessing import MinMaxScaler
Ms=MinMaxScaler()
data1=Ms.fit_transform(df[[column]])
print("Len:",data1.shape)

Len: (43, 1)

In [15]:
len(data1)

43

In [16]:
training_size=round(len(data1)*0.80)
print(training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

34
X_train length: (34, 1)
X_test length: (9, 1)
y_train length: (34, 1)
y_test length: (9, 1)

In [17]:
import warnings
warnings.filterwarnings("ignore")

In [18]:
#pip install statsmodels

In [19]:
from sklearn.metrics import mean_squared_error
trends=['n','t','c','ct']
orders=[(0,0,1),(0,0,2),(0,0,3)]
from statsmodels.tsa.arima.model import ARIMA
for td in trends:
        
        #print(td)
        #trendslist.append(td)
    model = ARIMA(X_train, order=(0,0,10),trend=td,)
    model_fit = model.fit()
        # make prediction
    y_pred= model_fit.predict(len(X_train), len(data1)-1)
        #print(y_pred)
    from sklearn.metrics import r2_score
    mse=mean_squared_error(y_test,y_pred,squared=False)
    from stockFunctions import rmsemape
    print("Trend={}".format(td))
    rmsemape(y_test,y_pred)
    print("************")

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=n
RMSE-Testset: 0.39165926610331736
maPe-Testset: 41329646804668.01
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=t
RMSE-Testset: 0.7182649546283839
maPe-Testset: 583562827150014.5
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=c
RMSE-Testset: 0.372275833575697
maPe-Testset: 313892275535765.2
************
Trend=ct
RMSE-Testset: 0.3405995897177041
maPe-Testset: 231695540852828.1
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [ ]:
len(y_test)

In [20]:
#i=1
td="ct"
model = ARIMA(X_train, order=(0,0,30),trend=td)
model_fit = model.fit()
# make prediction
y_pred= model_fit.predict(len(X_train), len(data1)-1)
#print(y_pred)
from sklearn.metrics import r2_score
mse=mean_squared_error(y_test,y_pred,squared=False)
from stockFunctions import rmsemape
print("Trend={}".format(td))
rmsemape(y_test,y_pred)
print("************")

Trend=ct
RMSE-Testset: 0.35732998338605865
maPe-Testset: 108031257964914.53
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [21]:
#pip install Pillow

In [22]:
#from stockFunctions import graph
#graph(y_test,y_pred,"Actual","predicted","Quality data","Time","Char A")

In [23]:
len(data1)

43

In [24]:
y_test

array([[0.12643678],
       [0.58275862],
       [0.74827586],
       [0.44942529],
       [0.66896552],
       [0.73333333],
       [0.75862069],
       [0.        ],
       [0.38850575]])

In [25]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])

In [26]:
aTestNormTable

  Pump panel Consumption
0               0.126437
1               0.582759
2               0.748276
3               0.449425
4               0.668966
5               0.733333
6               0.758621
7                    0.0
8               0.388506

In [27]:
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)

In [28]:
actual_stock_price_test_ori

array([[ 5.1 ],
       [ 9.07],
       [10.51],
       [ 7.91],
       [ 9.82],
       [10.38],
       [10.6 ],
       [ 4.  ],
       [ 7.38]])

In [29]:
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [30]:
actual_stock_price_test_oriA

  Pump panel Consumption
0                    5.1
1                   9.07
2                  10.51
3                   7.91
4                   9.82
5                  10.38
6                   10.6
7                    4.0
8                   7.38

In [31]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [32]:
from stockFunctions import conversionSingle
pTestNormTable=conversionSingle(y_pred,[column])
predicted_stock_price_test_ori=Ms.inverse_transform(pTestNormTable)
predicted_stock_price_test_oriP=conversionSingle(predicted_stock_price_test_ori,[column])

In [33]:
#from stockFunctions import graph
#graph(actual_stock_price_test_oriA,predicted_stock_price_test_oriP,"Actual","Predicted","Quality data","Time","Char A")

In [34]:
from stockFunctions import rmsemape
rmsemape(actual_stock_price_test_oriA,predicted_stock_price_test_oriP)

RMSE-Testset: 3.10877085545871
maPe-Testset: 0.32441619398679866

In [35]:
forecast=model_fit.predict(len(data1), len(data1)+0)

In [36]:
forecast

array([0.52398766])

In [37]:
from stockFunctions import conversionSingle
fTestNormTable=conversionSingle(forecast,["Pump panel consumption"])
forecast_stock_price_test_ori=Ms.inverse_transform(fTestNormTable)
forecast_stock_price_test_oriF=conversionSingle(forecast_stock_price_test_ori,["Pump panel consfore"])

In [38]:
forecast_stock_price_test_oriF

  Pump panel consfore
0            8.558693